doctype html
html
  head
    title saurabh dance website 
    style
      include ./style.css
  body
    nav#navbar
        ul
            #logo 
              img(src="../static/logo.png")
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
         
    section#introSection
        div Welcome to saurabh's Dance Academy
        div.small Eat Sleep Dance Repeat
    section#missionSection
        h1 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="./card-img.jpg")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="./card-img.jpg")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="./card-img.jpg")
                div.card-content
                    p This is the best dance academy of the universe
    section#sponsorsSection
        h1 Our Sponsors
        img(src="./apple.png" )
        img(src="./microsoft.png" )
        img(src="./google.png" )
        img(src="./facbook.png" )
    footer#footer
        p copyright @2021-2022 www.saurabhdanceacademy.com! all rights reserve 
    script
      include ./index.js
