*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
#navbar{
    background-color: black;
     font-family: 'Ubuntu', sans-serif;

}

img{
    padding-right: 20px;
    height: 100px;
    width: 100px;
}
#navbar ul{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    padding: 1px 9px;
    justify-content: center;
    /* margin: auto; */
    text-align: center;
   
} 
#navbar li{
  
    padding: 13px 10px;
    list-style: none;
}
#navbar li a{ 
    font-family: 'Ubuntu', sans-serif; 
    font-size: 20px;
    display: flex;
    padding: 8px 14px;
    margin: 1px 5px;
    cursor: pointer;
    color: white;
    /* border: 2px solid red; */
    border-radius: 9px;
    text-decoration: none;
}#navbar li a:hover{
  background-color: red;
  color: black;
  /* border: 2px solid black; */
}
#introSection{
    font-family: 'Ubuntu', sans-serif;
    font-size: 44px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 423px;
    color: white;
   
    background: center/cover no-repeat url(../static/img1.jpg);
}
#missionSection{
    display: block;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    text-align: center;
    padding: 0px 5px;
}
.card{
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 21%;
    padding: 2px 22px;
    border-radius: 13px;
    border: 2px solid gray;
    margin: 13px 15px;
} 

.card-box {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    text-align: center;
    /* background-color: #68dfc1; */
    padding: 10px 5px;
    margin-top: 0px;
}
#sponsorsSection{
    font-family: 'Ubuntu', sans-serif;
    /* font-size: 44px; 
    font-weight: bold; */
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    background-color: #68dfc1;
    padding: 19px 8px;
    margin-top: 0px;
}
#sponsorsSection img{
   height: 66px;
   width: 106px;
}
p,h1{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 9px 0px;
}
#footer{
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    text-align: center;
    background-color: black;
    color: white;
}
#logo img{
    height: 61px;
    width: 82px;
}
input,textarea{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 42%;
    border: 2px solid gray;
    border-radius: 28px;
    margin: 8px auto;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.myform{
    display: flex;
    background: no-repeat center/cover url(/static/contact.jpg);
    flex-direction: column;
    /* flex: 50%; */
    justify-content: center;
}
input.btn{
    font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  margin-bottom: 270px;
  width: 20%;
  
}
input.btn:hover{
background: chocolate
}
@media screen and (max-width: 981px) {
#navbar ul{ 
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
@media screen and (max-width: 981px) {
.card{ 
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}
}
.card-box{
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#sponsorsSection{
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
h1{
    margin:auto;
}

    .card-box{
        margin: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    @media screen and (max-width: 981px){
         #sponsorsSection{
          margin: auto;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        display: block;
    }
    }
   
    h1{
        margin:auto;
    }
}